*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    font-size: 30px;
}
.orange-color{
    color: orange;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
section{
    display: flex; 
    margin-bottom: 100px;
}
.half-width img{
    width:80%
}
.link-button{
    text-decoration: none;
    background: linear-gradient(orange,tomato);
    font-weight: 700;
    color: white;
    padding:10px 40px;
    border-radius: 40px;
}
.about-me{
    display: flex;
    padding-left: 2%;
    background-image: url(Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-position:left;
}
.recipie{
    text-align: center;
}
.recipie-title{
    display: flex;
    padding-left: 2%;}
    .one{
            box-shadow: 5px 10px 22px #8a8787ab;
            border-radius: 30px;
    }
    
#recipie-photo{
height: 200px;
width 30%
}
.two{
    display: inline;

}footer{
    background-color: rgba(7, 6, 6, 0.952);
    height:300px;
    margin: 0;
}
.p-tag{
    margin-top:-10px;
}
#last{
    margin-top: 70px;
    text-align: center;
    color: rgb(192, 188, 188);
}
#last-p{
    color: rgb(192, 188, 188);
    text-align: center;
}