body{
    margin: 0;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    font-size: 30px;
}
.orange-color{
    color: orange;
}
.half-width{
    width: 100%;
}
.top{
    display: flex;
    padding-left: 2%; 
    margin-bottom: 100px;
}
.half-width img{
    width:50%
}
.link-button{
    text-decoration: none;
    background: linear-gradient(orange,tomato);
    font-weight: 700;
    color: white;
    padding: 15px;
    border-radius: 40px;
    font-size: small;
}
.about-me{
    display: flex;
    padding-left: 2%;
    background-image: url(Frame\ 57.jpg);
    background-repeat: no-repeat;
    position:left;
}
.recipie{
    text-align: center;
}
.recipie-title{
    display: flex;
    padding-left: 2%;}
    .one{
        box-shadow:10px 5px 5px black;
    }
    
#recipie-photo{
height: 200px;
width 30%
}